.header{
    padding: 10px 30px;
    background-color: white;
    box-shadow: var(--box-shadow-nav);
    height: 70px;
    img{
        width: 90px;
        height: 90px;
    }
    
} 

.icon {
  width: 25px;
  height: 25px;
  color: var(--black);
  cursor: pointer;
}