.header{
    padding: 10px 30px;
    box-shadow: var(--box-shadow-nav);
    img{
        width: 100px;
        height: 100px;
    }
    
} 

.icon {
  width: 25px;
  height: 25px;
  color: var(--black);
  cursor: pointer;
}